*,
*::before,
*::after {
  box-sizing: border-box;
}

@mixin flexColumn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}
@mixin flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@mixin maxViewport {
  width:100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
}

body,html {
  @include maxViewport;
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;

}
.container  {
  @include maxViewport;
  box-sizing: border-box;
  overflow: hidden;


  .layer{
    @include maxViewport;
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    filter: brightness(50%);
    position:absolute;
    z-index: -1;
    content-visibility: auto;
    overflow: hidden;
  }
  .header_Container{
    width:100vw;
    min-height: 20vh;
    height:auto;

    @include flexColumn;
    justify-content: center;

    .logoIcon{
      width:4rem;
    }
    .logoText{
      width:5rem;
      margin-top: 0.6rem;
    }
  }
  .loader_Container{
    @include maxViewport;
    @include flexColumn;
    position:absolute;
    left: 0%;
    top: 0%;
    z-index: 100;
    background-color: #3e3e3d;
    h2{
      font-size:2rem;
      letter-spacing:0.2rem;
      color: #fff;
    }
  }
  .content_Container{
    @include flexColumn;
    width: 100vw;
    height: 50vh;
    padding:0rem 1.3rem;
    text-align:center;
    .section_Title {

      width: 100vw;
      line-height: 1.5rem;
      h2 {
        letter-spacing:0.1rem;
        color: #fff;
        font-size: 2.25rem
      }
    }
    .redirect_Section{

    .redirect_Button{
      border-radius: 2rem;
      border: none;
      font-size: 0.7rem;
      text-transform:uppercase;
      font-weight: bold;
      color: #fff;
      text-align: center;
      background-color: #19daff;
      padding:0.7rem 5rem;
      transition: all 300ms ease-in-out;
    }
      .redirect_Button:hover{
        cursor:pointer;
        transform:scale(1.05);
      }
    }
    .section_Description{
      h2{
        color: #fff;
        font-size: 1rem;
      }
      h2:first-child{
        color: #fff;
        font-size:1.4rem;
      }
      h2:nth-child(2){
        margin-top: 2rem;
        line-height: 1rem;
      }
      h2:nth-child(3){
        color: #fff;
        margin-bottom: 2rem;
        font-size:1rem;
        line-height: 0rem;
      }
      h2:nth-child(4){
        margin-top: 3rem;
        line-height: 0rem;
      }
      h2:nth-child(5){
      margin-bottom: 2rem;
      }
    }
  }
  .footer_Container_Updated{
    width: 100vw;
    height:auto;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color:#fff;
    transition: all 300ms ease-in-out;
    padding-bottom: 2rem;
    .container_Relative{

      width: 100vw;
      height:auto;
      background-color:#fff;
      position: relative;
      bottom: 0%;
      left: 0%;
      transition: all 300ms ease-in-out;
      color: #3E3E3D;

      .tool_Information{
        margin-top: 3rem;
        background-color:#fff;
        width:75vw;
        h2{
          font-size: 1rem;
          letter-spacing:0.05rem;
        }
        h2:last-child{
          font-size: 0.8rem;
        }
      }
      .goals_Of_the_Project{
        h2{
          font-size: 0.8rem;
        }
      }
      .budget_Information{
        margin-bottom: 1.3rem;
        h2{
          font-size: 0.8rem;
        }
      }
      .project_Information{
        margin-top: 2rem;
        width:40vw;
        font-size: 0.6rem;
      }
      @include flexRow;
        justify-content:flex-start;
      .show_Button{
        background-color:#fff;
        color: #828282;
        border-radius:2rem;
        padding:0.5rem 3rem;
        position: absolute;
        top: -1.1rem;
        letter-spacing:0.3rem;
        font-weight:bold;
        font-size:0.8rem;
      }
      .show_Button:hover{
        cursor: pointer;
      }
      .typography{

        width: 100vw;
        height: auto;
        @include flexRow;
        flex-direction: row;
        margin-bottom: 1rem;
        .logoIconTypography{
          height:4rem;
          margin: 0rem 0.5rem;
          transition:all 300ms ease-in-out;
        }
        .logoIconTypography:first-child{
          height:4rem;
          margin-left: 3.5rem;
        }
      }
    }
  }
  .footer_Container{
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transition: all 300ms ease-in-out;

    .container_Relative{
      width: 100vw;
      height: auto;
      background-color:#fff ;
      position: relative;
      bottom: 0%;
      left: 0%;
      box-sizing: border-box;
      padding-bottom:1rem;
      transition: all 300ms ease-in-out;
      .tool_Information{
        display:none;
      }
      .goals_Of_the_Project{
        display:none;
      }
      .budget_Information{
        display:none;
      }
      .project_Information{
        display:none;
      }
      @include flexRow;
      .show_Button{
        background-color:#fff;
        color: #828282;
        border-radius:2rem;
        padding:0.5rem 3rem;
        position: absolute;
        top: -1.1rem;
        letter-spacing:0.3rem;
        font-weight:bold;
        font-size:0.8rem;
      }
      .show_Button:hover{
        cursor: pointer;
      }
      .typography{
        overflow: hidden;
        width: 100vw;
        @include flexRow;
        flex-direction: row;

        .logoIconTypography{
          height:4rem;
          margin: 0rem 3rem;
          transition:all 300ms ease-in-out;
        }
        .logoIconTypography:first-child{
          height:4rem;
          margin-left: 8rem;
        }
      }
      .infoFinanse{
        font-size:1rem;
        margin: 0.6rem 0rem;
      }
    }
  }


















  @media (max-width:700px) {
    body,html {
      @include maxViewport;
      font-family: 'Barlow Semi Condensed', sans-serif;
      overflow: hidden !important;

    }

    .footer_Container_Updated{
      width: 100vw;
      height:auto;
      max-height:80vh;
      position: absolute;
      bottom: 0%;
      left: 0%;
      background-color:#fff;
      transition: all 300ms ease-in-out;
      padding-bottom: 2rem;
      .container_Relative{

        width: 100vw;
        padding:0rem 1rem;
        height:auto;
        max-height:80vh;
        position: relative;
        bottom: 0%;
        left: 0%;
        transition: all 300ms ease-in-out;
        color: #3E3E3D;


        .tool_Information{
          margin-top: 1rem;
          background-color:#fff;
          width:75vw;
          h2{
            font-size: 0.7rem;
            letter-spacing:0.05rem;
          }
          h2:last-child{
            font-size: 0.7rem;
          }
        }
        .goals_Of_the_Project{
          height: auto;
          max-height: 30vh;
          h2{
            font-size: 0.7rem;
          }
        }
        .budget_Information{
          margin-bottom: 0.3rem;
          h2{
            font-size: 0.7rem;
          }
        }
        .project_Information{
          margin-top: 0rem;
          width:90vw;
          font-size: 0.5rem;
        }
        @include flexRow;
        justify-content:flex-start;
        .show_Button{
          background-color:#fff;
          color: #828282;
          border-radius:2rem;
          padding:0.5rem 3rem;
          position: absolute;
          top: -1.1rem;
          letter-spacing:0.3rem;
          font-weight:bold;
          font-size:0.8rem;
        }
        .show_Button:hover{
          cursor: pointer;
        }
        .typography{

          width: 100vw;
          height: auto;
          @include flexRow;
          flex-direction: row;
          margin-bottom:0.5rem;
          .logoIconTypography{
            height:3rem !important;
            width:20% !important;
            margin: 0rem 0.5rem;
            transition:all 300ms ease-in-out;
          }
          .logoIconTypography:first-child{
            height:3rem !important;
            width:20% !important;
            margin-left: 1.5rem;
          }
          .logoIconTypography:last-child{
            width:35% !important;
            height:60% !important;
          }
        }
      }
      .infoFinanse{
        font-size:0.6rem;
        margin: 0rem 0rem;
        margin-bottom:0.3rem;
      }

    }











    .footer_Container{
      width: 100vw;
      height: 25vh;
      position: absolute;
      bottom: 0%;
      left: 0%;
      transition: all 300ms ease-in-out;

      .container_Relative{
        width: 100vw;
        height: 25vh;
        background-color:#fff ;
        position: relative;
        bottom: 0%;
        left: 0%;
        box-sizing: border-box;
        padding-bottom:1rem;
        transition: all 300ms ease-in-out;
      }
    }
    .content_Container {
      @include flexColumn;
      width: 100vw;
      height: 40vh;

      padding: 0rem 1.3rem;
      text-align: center;
      font-size: 0.3rem;

      .section_Title {

        h2 {
          font-size: 0.9rem
        }
      }

      .section_Description{
        margin-top:2rem;

        h2{
          color: #fff;
          font-size: 0.7rem;
        }
        h2:first-child{
          color: #fff;
          font-size: 0.8rem;
        }
        h2:nth-child(2){
          margin-top: 1rem;
          line-height: 1rem;
        }
        h2:nth-child(3){
          color: #fff;
          margin-bottom: 1rem;
          font-size: 0.8rem;
          line-height: 0rem;
        }
        h2:nth-child(4){
          margin-top: 2rem;
          line-height: 0rem;
        }
        h2:nth-child(5){
          margin-bottom: 2rem;

        }
        h2:last-child{
          margin-bottom: 2rem;
          font-size: 0.7rem;
        }
      }

    }
    .typography{
      overflow: hidden;
      width: 100vw;
      @include flexRow;
      flex-direction: row;


      .logoIconTypography{
        height:80% !important;
        width:25%;
        margin: 0rem 0rem !important;
      }
      .logoIconTypography:first-child{
        height:1rem;
        width:30%;
        margin-left:0rem !important;
      }
    }
  }
}

