*, *::before, *::after {
  box-sizing: border-box;
}
body, html {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow: hidden;

}
.container .layer {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  filter: brightness(50%);
  position: absolute;
  z-index: -1;
  content-visibility: auto;
  overflow: hidden;
}
.container .header_Container {
  width: 100vw;
  min-height: 20vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.container .header_Container .logoIcon {
  width: 4rem;
}
.container .header_Container .logoText {
  width: 5rem;
  margin-top: 0.6rem;
}
.container .loader_Container {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 100;
  background-color: #3e3e3d;
}
.container .loader_Container h2 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #fff;
}
.container .content_Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 50vh;
  padding: 0rem 1.3rem;
  text-align: center;
}
.container .content_Container .section_Title {
  width: 100vw;
  line-height: 1.5rem;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1rem;
}
.container .content_Container .section_Title h2 {
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 1.25rem;
  padding: 0%;
  margin: 0%;
}
.container .content_Container .redirect_Section{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.container .content_Container .redirect_Section .redirect_Button {
  border-radius: 2rem;
  border: none;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #19daff;
  padding: 0.7rem 5rem;
  transition: all 300ms ease-in-out;
}
.container .content_Container .redirect_Section .redirect_Button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.container .content_Container .section_Description h2 {
  color: #fff;
  font-size: 0.8rem;
}
.container .content_Container .section_Description h2:first-child {
  color: #fff;
  font-size: 1.4rem;
}
.container .content_Container .section_Description h2:nth-child(2) {
  margin-top: 2rem;
  line-height: 1rem;
}
.container .content_Container .section_Description h2:nth-child(3) {
  color: #fff;
  margin-bottom: 2rem;
  line-height: 0rem;
}
.container .content_Container .section_Description h2:nth-child(4) {
  margin-top: 3rem;
  line-height: 0rem;
}
.container .content_Container .section_Description h2:nth-child(5) {
  margin-bottom: 2rem;
}
.container .footer_Container_Updated {
  width: 100vw;
  height: auto;
  position: absolute;
  max-height:85vh;
  bottom: 0%;
  left: 0%;
  background-color: #fff;
  padding-bottom: 2rem;
}
.container .footer_Container_Updated .container_Relative {
  width: 100vw;
  height: auto;
  background-color: #fff;
  position: relative;
  max-height:85vh;
  bottom: 0%;
  left: 0%;
  color: #3e3e3d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}
.container .footer_Container_Updated .container_Relative .tool_Information {
  margin-top: 3rem;
  background-color: #fff;
  width: 75vw;
}
.container .footer_Container_Updated .container_Relative .tool_Information h2 {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}
.container .footer_Container_Updated .container_Relative .tool_Information h2:last-child {
  font-size: 0.7rem;
}
.container .footer_Container_Updated .container_Relative .goals_Of_the_Project h2 {
  font-size: 0.67rem;
}
.container .footer_Container_Updated .container_Relative .budget_Information {
  margin-bottom: 1.3rem;
}
.container .footer_Container_Updated .container_Relative .budget_Information h2 {
  font-size: 0.6rem;
}
.container .footer_Container_Updated .container_Relative .project_Information {
  margin-top: 2rem;
  width: 40vw;
  font-size: 0.4rem;
}
.container .footer_Container_Updated .container_Relative .show_Button {
  background-color: #fff;
  color: #828282;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0.5rem 3rem;
  position: absolute;
  top: -0.5rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 0.6rem;
}
.container .footer_Container_Updated .container_Relative .show_Button:hover {
  cursor: pointer;
}
.container .footer_Container_Updated .container_Relative .typography {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-direction: row;
  margin-bottom: 1rem;
}
.container .footer_Container_Updated .container_Relative .typography .logoIconTypography {
  height: 4rem;
  width:6rem;
  margin: 0rem 0.5rem;
  transition: all 300ms ease-in-out;
}
.container .footer_Container_Updated .container_Relative .typography .logoIconTypography:first-child {
  height: 4rem;
  margin-left:0rem;
}
.container .footer_Container {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.container .footer_Container .container_Relative {
  width: 100vw;
  height: auto;
  background-color: #fff;
  position: relative;
  bottom: 0%;
  left: 0%;
  box-sizing: border-box;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.container .footer_Container .container_Relative .tool_Information {
  display: none;
}
.container .footer_Container .container_Relative .goals_Of_the_Project {
  display: none;
}
.container .footer_Container .container_Relative .budget_Information {
  display: none;
}
.container .footer_Container .container_Relative .project_Information {
  display: none;
}
.container .footer_Container .container_Relative .show_Button {
  background-color: #fff;
  color: #828282;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0.5rem 3rem;
  position: absolute;
  top: -0.5rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 0.6rem;
}
.container .footer_Container .container_Relative .show_Button:hover {
  cursor: pointer;
}
.container .footer_Container .container_Relative .typography {
  overflow: hidden;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-direction: row;
}
.container .footer_Container .container_Relative .typography .logoIconTypography {
  height: 4rem;
  width: 7vw;
  margin: 0rem 3rem;
  transition: all 300ms ease-in-out;
}
.container .footer_Container .container_Relative .typography .logoIconTypography:first-child {
  height: 4rem;
  margin-left: 8rem;
}
.container .footer_Container .container_Relative .infoFinanse {
  font-size: 0.9rem;
  margin: 0.6rem 0rem;
}





@media (max-width: 800px) {
  .container body, .container html {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow: hidden !important;
  }
  .container .footer_Container_Updated {
    width: 100vw;
    height: auto;
    max-height:85vh;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    padding-bottom: 2rem;
  }
  .container .footer_Container_Updated .container_Relative {
    width: 100vw;
    padding: 0rem 1rem;
    height: auto;
    max-height:85vh;
    position: relative;
    bottom: 0%;
    left: 0%;
    color: #3e3e3d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }
  .container .footer_Container_Updated .container_Relative .tool_Information {
    margin-top: 1rem;
    background-color: #fff;
    width: 75vw;
  }
  .container .footer_Container_Updated .container_Relative .tool_Information h2 {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height:100%;
  }
  .container .footer_Container_Updated .container_Relative .tool_Information h2:last-child {
    font-size: 0.75rem;
  }
  .container .footer_Container_Updated .container_Relative .goals_Of_the_Project {
    margin-top: 1rem;
    height: auto;
    max-height: 30vh;
  }
  .container .footer_Container_Updated .container_Relative .goals_Of_the_Project h2:first-child {
    line-height:0rem;
  }
  .container .footer_Container_Updated .container_Relative .goals_Of_the_Project h2 {
    font-size: 0.55rem;
    margin:0.3rem;
  }
  .container .footer_Container_Updated .container_Relative .budget_Information {
    margin: 1rem 0rem ;
  }
  .container .footer_Container_Updated .container_Relative .budget_Information h2 {
    font-size: 0.52rem;
    margin: 0%;
  }
  .container .footer_Container_Updated .container_Relative .project_Information {
    margin-top: 0rem;
    width: 90vw;
    font-size: 0.3rem;
  }
  .container .footer_Container_Updated .container_Relative .show_Button {
    background-color: #fff;
    color: #828282;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    padding: 0.5rem 3rem;
    position: absolute;
    top: -0.5rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-size: 0.6rem;
  }
  .container .footer_Container_Updated .container_Relative .show_Button:hover {
    cursor: pointer;
  }
  .container .footer_Container_Updated .container_Relative .typography {
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-direction: row;
    margin-bottom: 0rem;
  }
  .container .footer_Container_Updated .container_Relative .typography .logoIconTypography {
    height: 3rem !important;
    width: 6rem !important;
    margin: 0rem 0.5rem;
    transition: all 300ms ease-in-out;
  }
  .container .footer_Container_Updated .container_Relative .typography .logoIconTypography:first-child {
    height: 3rem !important;
    width: 6rem !important;
    margin-left: 1.5rem;
  }
  .container .footer_Container_Updated .container_Relative .typography .logoIconTypography:last-child {
    height: 3rem !important;
    width: 6rem !important;
  }
  .container .footer_Container .container_Relative .infoFinanse {
    font-size: 0.55rem;
    margin: 0rem 0rem;
    margin-bottom: 0rem;
  }
  .container .footer_Container_Updated .container_Relative .infoFinanse {
    font-size: 0.55rem;
    margin: 0rem 0rem;
    margin: 1rem 0rem;
  }
  .container .footer_Container {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0%;
    left: 0%;
    left: 0%;
  }
  .container .footer_Container .container_Relative {
    width: 100vw;
    height: auto;
    background-color: #fff;
    position: relative;
    bottom: 0%;
    left: 0%;
    box-sizing: border-box;
    padding-bottom: 1rem;
  }
  .container .content_Container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 40vh;
    padding: 0rem 1.3rem;
    text-align: center;
    font-size: 0.3rem;
  }
  .container .content_Container .section_Title h2 {
    font-size: 0.9rem;
  }
  .container .content_Container .section_Description {
    margin: 0rem;
    padding: 0rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .container .content_Container .section_Description h2 {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    margin:0rem;
  }
  .container .content_Container .section_Description h2:first-child {
    color: #fff;
    margin:0rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .container .content_Container .section_Description h2:nth-child(2) {
    margin-top: 0rem;
    line-height: 1rem;
    padding-bottom: 0.5rem;
  }
  .container .content_Container .section_Description h2:nth-child(3) {
    color: #fff;
    margin: 0rem;
    padding:0rem;
    font-size: 0.8rem;
    line-height: 0rem;
  }
  .container .content_Container .section_Description h2:nth-child(4) {
    margin-top: 1.5rem;
    margin-bottom:1rem;
    line-height: 100%;
  }
  .container .content_Container .section_Description h2:nth-child(5) {
    margin-bottom:0rem;
  }
  .container .content_Container .section_Description h2:last-child {
    margin-bottom: 0rem;
    font-size: 0.7rem;
  }
  .container .typography {
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-direction: row;
  }
  .container .typography .logoIconTypography {
    height: 3rem !important;
    width:6rem !important;
    margin: 1rem 0rem !important;
  }
  .container .typography .logoIconTypography:first-child {
    height: 3rem !important;
    width: 7rem !important;
    margin-left: 0rem !important;
  }
  .container .typography .logoIconTypography:last-child {
    height: 3rem !important;
    width: 7rem !important;
    margin-left: 0.5rem !important;
  }
}
